.header{
  /*  align-items: flex-start*/
  padding: 15px 5%;
}
#check:checked ~ .header__nav{
  left: 0;
}
#check:checked ~ .label__check{
  transform: rotate(180deg);
}
.label__check{
  font-size: 25px;
  transition: all .3s linear;
}
.checkbox{
  display: block;
}
.header__nav{
  position: absolute;
  margin-top: 60px;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -150%;
  transition: all .3s linear;
  z-index: 2;
  display: flex;
}
.nav__ul{
  flex-direction: column;
  background: #FFFFFF;
  width: 100%;
  height: 100vh;
  padding: 20px 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .1)

}
.nav__a{
  font-size: 14px;
  padding: 18px 30px;
  display: block;
}
.nav__closer{
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}

.section{
  padding: 40px 1%;
}
.home__article{
  margin: 20px 0;
}
.home__img img{
  width: 70%;
}
.about__img img{
  padding: 50px 0;
  margin: 0 auto;
  display: block;
}
.service__p{
  width: 80%;
}
.service__box{
  padding: 0 50px;
}
.number{
  padding: 100px 0;
}
.number__div{
  margin: 15px 0;
}
.plan__body{
  margin: 10px;
}