*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.section{
  padding: 100px 13%;

}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
.h4{
  padding-bottom: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: .8rem;
  text-transform: uppercase;
}
.h2{
  padding-bottom: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.9rem;
}
.h3{
  padding-bottom: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.2rem;
}
.p{
  color: #8F8F8F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  line-height: 22px;
}
.p--padding{
  padding: 15px 0;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
[class*="col-"] {
  width: 100%;
}
.section::after{
  content: '';
  clear: both;
  display: table;
}
/* header start */
.header{
  width: 100%;
  padding: 15px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 2px 2px 50px rgba(186, 186, 186, 0.5);
  position: sticky;
  top: 0;
}
.header__logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img{
  width: 30px;
  height: 30px;
}
.header__h1{
  font-size: 1.2rem;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
  
}

.header__nav{
  overflow-x: auto;

}
.nav__ul{
  display: flex;
  list-style: none;
  padding: 10px 10px;

}
.nav__a{
  text-decoration: none;
  color: #292929;
  padding: 10px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer
}
.nav__a:hover{
  color: #666666
}
.nav__a:active{
  color: #8490ff
}
/* header end */


/* home start */
.home{
  background: #f9f9ff;
  
}
.home__article{
  margin: 110px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  
}
.home__btn{
  margin: 15px 0;
  padding: 12px 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: linear-gradient(to right, #8490ff, #62bdfc);
  border:none;
  font-weight: bold;
}
.home__btn:hover{
  box-shadow: 5px 10px 30px rgba(125, 105, 255, 0.29),
              -1px -0px 0px rgba(133, 115, 255, 0.29);
}
.home__img{
  padding: 0 10px;
}
.home__img img{
  width: 90%;
  margin: 0 auto;
  display: block;
}
/* home end */

/* about start */
.about{
  background: #fff;
  
}
.about__article{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__btn{
  margin: 15px 0;
  padding: 12px 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: linear-gradient(to right, #8490ff, #62bdfc);
  border:none;
  font-weight: bold;
}
.about__btn:hover{
  box-shadow: 5px 10px 30px rgba(125, 105, 255, 0.29),
              -1px -0px 0px rgba(133, 115, 255, 0.29);
}
.about__img{
  padding: 0 10px;

}
.about__img img{
  width: 100%;
  margin: 10px 0;
}
/* about end */


/* service start */
.service{
  padding-top: 0;
}
.service__head{
  text-align: center;
  padding: 30px 0;
}
.service__p{
  max-width: 500px;
  margin: 0 auto;
}
.service__body{
  display: flex;
  flex-wrap: wrap;
}
.service__box{
  height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service__box:hover i, .service__box:hover h3{
  color: #8490ff;
  transition: all .1s linear;

}
.service__box i{
  font-size: 35px;
  padding: 35px;
}
.service__box h3{
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
}
.service__box p{
  text-align: center;
}
/* service end */

/* number start */
.number{
  background: linear-gradient(to right bottom, #8490ff, #62bdfc);
  
  
}
.number__div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
  color: #FFFFFF;
}
.number__div h2{
  font-size: 2.5rem;
}
.number__div p{
}
/* number end */


/* Projects start */
.Projects{
  text-align: center;
}
.project__head{
  padding: 100px 0;
}
.Projects__fig figcaption{
  padding: 25px 0;
}
.Projects__img{
  width: 100%;
  height: 100%;
}
.Projects__img:hover{
  opacity: 0.2;
}
.Projects__fig{
  background: linear-gradient(to right bottom, #8490ff, #62bdfc);
  border-radius: 3%;
}
.Projects__fig figcaption{
  background: #FFFFFF;
}
/* Projects end */